.claude
CLAUDE.md
.vscode
node_modules

backend/.env*
!backend/.env.example
backend/coverage
backend/dist
backend/node_modules
backend/uploads

frontend/.env*
!frontend/.env.local.example
frontend/.next
frontend/.swc
frontend/coverage
frontend/node_modules
