.claude
CLAUDE.md
.vscode
node_modules
treasure_export.csv*

backend/.env*
!backend/.env.example
backend/coverage
backend/dist
backend/uploads

frontend/.env*
!frontend/.env.local.example
frontend/.next
frontend/.swc
frontend/coverage
frontend/tsconfig.tsbuildinfo
